@charset "UTF-8";
        body{
            background-color: rgb(113, 164, 230);
            font-family: arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: blue;
            background-color: rgb(43, 112, 158);

        }
        h2{
            color: black;
        }
        p{
            text-align: justify;
        }

   