@charset "UTF-8";
/*em HTML é id = em CSS é #
em HTML é class = em CSS é .*/
body{
    background-color: rgb(208, 241, 157);
}
h1{
    color:green
}
h1#principal{
text-align: center;
background-color: green;
color: white;
border-radius: 10px;
padding: 10px;
margin: auto;
box-shadow: 10px 10px #204607;
}
h2{
    color:rgb(23, 80, 31)
}

p{
    font-size:medium;
    font-family: Verdana,arial, Tahoma;
}
.basico{
     color: rgb(20, 150, 20);
     font-weight: bold;
}
.mid{
    color:rgb(172, 172, 49) ;

}
.avance{
    color: rgb(169, 32, 32);

}
.destaque{
    background-color: rgba(214, 204, 69, 0.67);
}