@charset "UTF-8";
/*em HTML é id = em CSS é #
em HTML é class = em CSS é .*/
body{
    background-color: rgb(208, 241, 157);
}
h1{
    color:green
}
h1#principal{
text-align: center;
background-color: green;
color: white;
border-radius: 10px;
padding: 10px;
margin: auto;
box-shadow: 10px 10px #204607;
}
h2{
    color:rgb(23, 80, 31)
}
h2.avance{
    text-decoration:underline #60a704;


}
