
@font-face {
font-family:'love';
src: url('Filxgirl.TTF') format('truetype');
font-weight: normal;
font-style: normal;
/*
tipos de format()
-opentype(otf)
-truetype(ttf)
-embedded-opentype
-truetype-aat(Apple Advanced Typography)
-svg
*/
}
body{
    background-color: rgba(133, 62, 199, 0.849);
        margin: 0;
        overflow: hidden;
    

}
h1{
  position: relative;
    text-align: center;
    font-family: 'love', Times, serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-shadow: 10px 5px 4px rgb(180, 34, 34);
    z-index: 1;
   
}

p{
  position:relative;
    font-family: 'love', Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
   text-shadow: 3px 4px 3px rgb(224, 39, 39);
   z-index: 1;
   
}
.conteudo {
  position: absolute;
  z-index: 2; /* Ajuste o z-index para garantir que o conteúdo fique acima das imagens */
  top: 12%; /* Ajuste a posição verticalmente para o meio da tela */
  left: 50%; /* Ajuste a posição horizontalmente para o meio da tela */
  transform: translate(-50%, -50%); /* Centraliza o conteúdo */
}

.quadro {
  position: relative;
  perspective: 1000px; /* Adiciona perspectiva para o efeito 3D */
}

.retrato {
  width: 200px;
  height: 300px;
  transform-origin:center bottom;
  transform: rotateX(20deg); /* Inclinação para o efeito 3D */
  transition: transform 0.5s, box-shadow 0.5s;
  position: absolute;
}

.retrato:hover {
  transform: rotateX(0deg); /* Retorna à posição original no hover */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4); /* Adiciona sombra no hover */
}



